/* == GLOBAL STYLE SETTINGS == */
:root {
    --bay-dpurple: #624963;
    --bay-dblue: #13364D;
    --bay-lblue: #13B9F1;
    --bay-lgreen: #8ECC39;
    --bay-red: #FF3162;
    --sidebar-col: #BBB;
    --hover-col: #888;
    --col-checked: #555;
    --col-deselected: #AAA;
    --font-family: sans-serif;
    font-family: var(--font-family);
}

body {
    margin: 0;
}

/* == STARTUP MODAL WINDOW == */

/* darken page beneath */
.modal::before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;  /* new shorthand for top/left/right/bottom: 0 is `inset: 0;` */
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000; /* just make sure it's on top */
}

/* modal window on top */
.modal-dialog {
    background: #f0f0f0;
    background-color: #DDD;
    position: fixed;
    border: 2px solid var(--bay-lblue);
    border-radius: 5px;
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10001;
    /* Format contents */
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.modal-dialog h2 {
    color: var(--bay-dblue);
}

.modal-dialog > * + * {
    text-align: center;
    margin-right: auto;
    margin-left: 3rem;
    margin-bottom: 0.5rem;
}

/* Load button invisible unless file selected */
#file-input:invalid + #load-file {
    display: none;
}

.load-button {
    background-color: var(--bay-lgreen);
}

.load-button:hover {
    background-color: #4A4;
}

/* Disappear modal after navigating to its wrapper element */
.modal:target {
    display: none;
}


/* == TOP-LEVEL LAYOUT == */

.top-container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
     "header header"
     "nav main"
     "nav main"
     "footer footer";
}

header {
    display: flex;
    align-content: center;
    grid-area: header;
    color: white;
    background-color: var(--bay-dblue);
}

nav {
    grid-area: nav;
    background-color: var(--sidebar-col);
}

main {
    grid-area: main;
    overflow: auto;
}

footer {
    grid-area: footer;
    color: white;
    background-color: var(--bay-lblue);
    border: 1px solid black;
}

/* == TABSET GENERAL FUNCTION AND STYLING == */

/* All tab selection radio buttons are hidden */
.tab-switch {
    display: none;
}

/* Main tabs - button styling */
.tab-button {
    color: white;
    background-color: var(--col-deselected);
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1rem;
/*    cursor: pointer; */
}

.tab-button::before {
    content: '// ';
    color: var(--bay-dblue);
}

.tab-button:hover {
    background-color: var(--hover-col);
}

.tab-button:active {
  box-shadow: 0 2px #6661;
  transform: translateY(2px);
}

/* Second-level tabs - tab-label styling */
.tab-label {
    color: white;
    background-color: var(--col-deselected);
    padding: 1rem;
}

.tab-label::before {
    content: "// ";
    color: var(--bay-dblue);
}

/* All tab panels are hidden by default */
.tab-panel {
    display: none;
}


/* == TABSET SPECIFIC FUNCTION: checked radio button and label/tab bonds == */

/* Show main tab labels and panels panels */
#main-tab-1:checked ~ nav #label-main-tab-1,
#main-tab-2:checked ~ nav #label-main-tab-2 {
    background-color: var(--col-checked);
}

#main-tab-1:checked ~ nav #label-main-tab-1::before,
#main-tab-2:checked ~ nav #label-main-tab-2::before {
    color: var(--bay-lblue);
}

#main-tab-1:checked ~ main #panel-main-tab-1,
#main-tab-2:checked ~ main #panel-main-tab-2 {
    display: block;
}

/* Second-level tabs */
.tab-switch:checked + .tab-label {
    background-color: var(--col-checked);
}

#section-tab-1a:checked ~ #panel-1a,
#section-tab-1b:checked ~ #panel-1b,
#section-tab-2a:checked ~ #panel-2a,
#section-tab-2b:checked ~ #panel-2b {
    display: block;
    position: relative;
}


/* == SECOND-LEVEL LAYOUTS == */

header p {
    padding-left: 0.2em;
    margin-top: auto;
    font-size: 2.5em;
    margin-bottom: auto;
}

header img {
    height: 60px;
    width: auto;
    margin: 0.2em;
}

.tab-controls {
    display: none;
}

#main-tab-1:checked ~ nav #controls-main-tab-1,
#main-tab-2:checked ~ nav #controls-main-tab-2 {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-top: 0.5em;
}

.tab-controls > select {
    width: 100%;
}

.tab-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

/* Sizing of specific UI elements */

#chart-1 {
    width: 50vw;
}

#map-mo {
    width: 50vw;
}

#testcanvas {
    width: 200px;
    height: 200px;
}
