:root {
    --dblue: #008;
    --lblue: #55F;
    --lgreen: #181;
    font-family: sans-serif;
}
/* Large Screens */
.main-container {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
     "hd hd"
     "nv sc"
     "nv sc"
     "ft ft";
}

header {
    display: flex;
    align-content: center;
    grid-area: hd;
    font-size: 30px;
    color: white;
    background-color: var(--dblue);
}

header h1 {
    padding-left: 0.2em;
    margin-top: auto;
    margin-bottom: auto;
}

header img {
    width: 100px;
    height: 100px;
}

nav {
    grid-area: nv;
    background-color: var(--lgreen);
}

nav h2 {
    text-align: center;
}

section {
    grid-area: sc;
    overflow: auto;
}

footer {
    grid-area: ft;
    color: white;
    background-color: var(--lblue);
    border: 1px solid black;
}

#nestedGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.photoBox {
    height: 500px;
    border: 1px solid green;
}

#one {
    background-color: orange;
    background-size: cover;
}

#two {
    background-size: cover;
}

#three {
    background-size: cover;
}

#four {
    background-color: turquoise;
    background-size: cover;
}