:root {
    --bay-dpurple: #624963;
    --bay-dblue: #13364D;
    --bay-lblue: #13B9F1;
    --bay-lgreen: #8ECC39;
    --bay-red: #FF3162;
    --sidebar-col: #BBB;
    --hover-col: #888;
    --col-checked: #555;
    --col-deselected: #AAA;
    --font-family: sans-serif;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-family: var(--font-family-sans-serif);
}

.top-container {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
     "header header"
     "nav main"
     "nav main"
     "footer footer";
}

/* All tab selection radio buttons are hidden */
.tab-button {
    display: none;
}

/* Colorscheme for all deselected tab labels */
.tab-label {
    color: white;
    background-color: var(--col-deselected);
}

.tab-label::before {
    content: "// ";
    color: var(--bay-dblue);
}

/* All tab panels are hidden by default */
.tab-panel {
    display: none;
}

/* Selected tab label. Assumes labels directly follow radio buttons */
.tab-button:checked + .tab-label {
    background-color: var(--col-checked);
}

/* Selected tab panel. Assumes labels follow corresponding radio buttons */
#btn-summ-growers:checked ~ #panel-summ-growers,
#btn-seed-yield:checked ~ #panel-seed-yield,
#btn-price:checked ~ #panel-price {
    display: block;
}

header {
    display: flex;
    align-content: center;
    grid-area: header;
    color: white;
    background-color: var(--bay-dblue);
}

header p {
    padding-left: 0.2em;
    margin-top: auto;
    font-size: 2.5em;
    margin-bottom: auto;
}

header img {
    height: 60px;
    width: auto;
    margin: 0.2em;
}

nav {
    grid-area: nav;
    background-color: var(--sidebar-col);
}

nav h2 {
    text-align: center;
}

nav fieldset {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-top: 0.5em;
}

nav fieldset label {
    color: white;
    background-color: var(--col-deselected);
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

nav fieldset label::before {
    content: '// ';
    color: var(--bay-dblue);
}

nav fieldset label:hover {
    background-color: var(--hover-col);
}

nav fieldset label:active {
  box-shadow: 0 2px #6661;
  transform: translateY(2px);
}

#btn-summary:checked ~ nav #label-summary,
#btn-grower:checked ~ nav #label-grower {
    background-color: var(--col-checked);
}

#btn-summary:checked ~ nav #label-summary::before,
#btn-grower:checked ~ nav #label-grower::before {
    color: var(--bay-lblue);
}

nav #grower-fieldset {
    display: none;
}

#btn-grower:checked ~ nav #grower-fieldset {
    display: flex;
}

#grower-fieldset select {
    width: 100%;
}

main {
    grid-area: main;
    overflow: auto;
}


footer {
    grid-area: footer;
    color: white;
    background-color: var(--bay-lblue);
    border: 1px solid black;
}

/* Show main tab panels */
#btn-summary:checked ~ main #section-summary,
#btn-grower:checked ~ main #section-grower {
    display: block;
}

#mapid {
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
}

.nestedGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.photoBox {
    height: 500px;
    border: 1px solid var(--bay-red);
}

.orange {
    background-color: var(--bay-lgreen);
    background-size: cover;
}

.blue {
    background-color: var(--bay-lblue);
    background-size: cover;
}
