<div class="input-pane">
    {{#inputs}}
        <div class="input-field">
            <label for="{{name}}">{{label}}:</label>
            <input type="{{type}}" id="{{name}}" name="{{name}}" value="{{defaultValue}}" />
        </div>
    {{/inputs}}
</div>
