<div class="output-pane">
    <table>
        <thead>
            <tr>
                {{#outputs}}
                <th>{{label}}</th>
                {{/outputs}}
            </tr>
        </thead>
        <tbody>
            <tr>
                {{#outputs}}
                <td id="{{name}}">-</td>
                {{/outputs}}
            </tr>
        </tbody>
    </table>
</div>

