// styles/_layout.scss
@import 'colors';

.header {
  background-color: $BayerBlue;
  color: white;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr; // Adjust as needed
  gap: 1rem;
  padding: 1rem;

  .panel {
    background-color: white;
    border: 1px solid $BayerLightBlue;
    padding: 1rem;
  }
}
